@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size:30px;
  color:#676767;
}

body{
	/*background-color: #d8d8d8;*/
	background-image: url('images/field.png');
}

h1{
	text-align:center;
	font-family:"Oswald";
	font-size:76px;
	letter-spacing:1px;
	margin:0;
	padding: 25px 0 25px 0;
}

.info{
	font-size:16px;
	font-family:"Open Sans";
	margin: 0 18% 60px 18%;
	color:#676767;
}

.click{
	font-size:20px;
	font-family:"Oswald";
	text-transform: uppercase;
	letter-spacing: 0.4px;
	text-align:center;
	padding: 0 0 20px 0;
}

.label{
	font-size:16px;
	font-family:"Open Sans";
	text-align: center;
	color:#676767;
	margin:10px 0 0 0;
}

#all-gear{
	width: 65%;
	margin: 0 auto;
	text-align:center;
}

.two-column{
	width: 23%;
	float: left;
	padding: 7px;
	min-height:200px;
	display:inline-block;
}

.icon{
	padding: 20px 0 20px 0;
	height: 150px;
}

#helmet-timeline, #ball-timeline, #pads-timeline, #cleats-timeline{
	display:none;
	width: 70%;
	margin: 0 auto;
	padding: 3px 0 0 0;
	border-top: 2px dotted #939598;
	clear:both;
}

h2{
	font-family: "Oswald";
	font-size: 16px;
	text-align: center;
	margin: 5px 0 0 5px;
	letter-spacing: 0.5px
}

.timeline-icon{
	height: 175px;
	padding: 40px;
}

.time-container{
	width:20%;
	float:left;
	padding:20px;
}

.timeline-info{
	font-family:"Open Sans";
	font-size: 14px;
	color:#676767;
}

#copyright{
	font-family: "Open Sans";
	font-size:12px;
	color: #676767;
	text-align: center;
	padding: 225px 0 30px 0;
	clear:both;
}

a{
	color:black;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}